*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    margin: auto;
    box-shadow: 0 0 10px gray;
}

.container>header{
    background-image: url("./images/banner.png");
    background-size: 100% 100%;
    height: 280px;
    position: relative;
    margin: auto;
}

.container>nav{
    line-height: 40px;
    background-color: gray;
    color: white;
    text-align: center;
    font-variant: small-caps;

}
.menu>ul>li{
    display: inline-block;
    position: relative;
}
.menu>ul>li>a{
    display:block;
}
.menu>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: whitesmoke;
    text-align: center;
}
.menu>ul>li>a{
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color:black;
    padding: 0 10px;
    line-height: 40px;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color:black;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
    text-align: left;
    background-color: whitesmoke;
}
.menu>ul>li:hover>ul{
    display: block;
}
.menu ul ul a:hover{
    background-color:gray;
    color:black;
    
}
.container>footer{
    border-top:5px double orangered;
    line-height:70px;
    background-color:grey;
    text-align:center;
    font-variant:small-caps;
    clear:both;
    color: honeydew;
}
iframe[name=page]{
    width: 100%;
    height: 100%;
}
header>input{
    position: absolute;
    top:290px;
    right:5px;
    width: 240px;
}
.acc{
    position: absolute;
     top: 0px;
     right: 0px;
     border-bottom-left-radius: 40px;
     box-shadow: 0 0 15px #FFF;
     padding-left: 10px;
     background-color :gainsboro;
    
}
.acc li{
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
}
.acc li a{
    color: black;
    text-decoration: none;
}
.acc li  :hover{
    color:crimson;
}
body{
    font-family: 'Akaya Kanadaka', cursive;
font-family: 'Montserrat', sans-serif;
}
#dongho {
    margin-top: 150px;
    right: 0;
    font-size: 25px;
    color: rgb(233, 158, 184);
}
    



